@font-face {
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: normal;
  src: url('FiraGO-Book.woff') format('woff');
}

@font-face {
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: normal;
  src: url('FiraGO-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: bold;
  src: url('FiraGO-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: bold;
  src: url('FiraGO-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 800;
  src: url('FiraGO-Bold.woff') format('woff');
}

@font-face {
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: 800;
  src: url('FiraGO-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: 900;
  src: url('FiraGO-HeavyItalic.woff') format('woff');
}
